<div class="container">
  <table>
    <thead>
    <tr style="border-radius: 10px !important;">
      <th>Nome</th>
      <th>Data</th>
      <th style="width: 1rem;"></th>
    </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let protocol of dataSource" (click)="detailsProtocol(protocol.id)">
      <td>{{ protocol.name }}</td>
      <td>{{ protocol.createdAt| date:'dd/MM/yyyy' }}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          ⋮
        </button>
        <mat-menu #menu="matMenu">
          <div  class="floating-actions-menu">
            <button mat-menu-item (click)="editProtocol(protocol.id!); $event.stopPropagation()" >Editar</button>
            <button mat-menu-item (click)="deleteProtocol(protocol.id!); $event.stopPropagation()">Excluir</button>
          </div>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>

  
  <div class="list-container">
    <div class="protocols-mobile-container">
    <div *ngFor="let element of dataSource" class="protocols-list-mobile">
      <button class="list-card" (click)="detailsProtocol(element.id)">
        <div class="protocol-detail">
          <span class="title-detail">ID</span>
          <span class="data-detail">{{element.id}}</span>
        </div>
        <div class="protocol-detail">
          <span class="title-detail">Nome</span>
          <span class="data-detail">{{element.name}}</span>
        </div>
        <div class="protocol-detail">
          <span class="title-detail">Data</span>
          <span class="data-detail">{{element.createdAt | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="protocol-actions">
          <button class="edit-btn" (click)="editProtocol(element.id!)">
            <img src="assets/images/svg/edit.svg" alt="" srcset="" />
            <span> Editar </span>
          </button>
          <button class="delete-btn" (click)="printButton('delete button')">
            <img src="assets/images/svg/inventory-red.svg" alt="" srcset="" />
            Excluir
          </button>
        </div>
      </button>
    </div>
    </div>
  </div>
  