<body>
  <div class="container">
    <div class="header">
      <div class="user-info">Teste</div>
    </div>
    <div class="form">
      <h3>Biblicron: Simplificando a Gestão de Bibliotecas com Tecnologia Avançada</h3>
      <p>
        Bem-vindo ao Biblicron, uma plataforma inovadora de gerenciamento de bibliotecas que combina
        a potência do Spring Boot e a usabilidade do Angular. Com o Biblicron, estamos redefinindo o
        modo como as bibliotecas funcionam e interagem com seus leitores.
      </p>
      <h3>O que é o Biblicron?</h3>
      <p>
        O Biblicron é uma solução abrangente criada para modernizar a gestão de bibliotecas. Foi uma
        plataforma desenvolvidas por alunos para a disciplina de Projeto Detalhado de Software no
        Instituto Metrópole Digital.
      </p>
    </div>
  </div>
</body>
