* {
    font-family: 'Poppins', sans-serif;
  }
  
  #menu-beta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4px;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 20px;    
    }
  }
  
  #info-beta {
    height: 65svh;
  }
  
  #menu-beta-text {
    margin: 5px;
    @media (max-width: 768px){
      text-align: center;
    }
  }
  
  #menu-beta-text a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    padding: 7px 10px;
    color: #5f41b2;
  }
  
  #menu-beta-text a:hover {
    background-color: rgba(151, 92, 228, 0.13);
    border-radius: 7px;
  }
  
  #menu-beta-text .selected-button {
    border-bottom: 2px solid #5f41b2;
  }
  
  #menu-beta-text .selected-button:hover {
    border-bottom: 2px solid #5f41b2;
    border-radius: 7px 7px 0px 0px;
  }
  
  #menu-beta-button {
    text-align: right;
  }
  
  #menu-beta-filter {
    text-align: left;
    border: none;
  }
  
  #menu-beta-filter button {
    border-radius: 5px;
    outline: none;
    border: 1px solid #9f9f9f;
    background-color: #fff;
    color: #5f41b2;
    width: 100px;
    margin: 0;
    padding: 0;
  }
  
  #menu-beta-button button {
    border: none;
    background-color: #5f41b2;
    font-size: 14px;
    padding: 12px 25px;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    @media (max-width: 768px) {
      min-width: 1rem;
      width: 100%;
    }
  }
  