<form class="register-form" #formRef="ngForm" [formGroup]="registerForm">
  <div class="same-line-inputs-container">
    <div class="align-inputs-and-error-messages">
      <input type="text" placeholder="Primeiro nome" formControlName="firstName" [ngClass]="{'input-error': isInputInvalid('firstName')}"/>
      <span class="invalid-input-message" *ngIf="isInputInvalid('firstName')">
        {{ formUtils.getErrorMessage(registerForm, 'firstName') }}
      </span>
    </div>
    <div class="align-inputs-and-error-messages">
      <input type="text" placeholder="Último nome" formControlName="lastName" [ngClass]="{'input-error': isInputInvalid('lastName')}"/>
      <span class="invalid-input-message" *ngIf="isInputInvalid('lastName')">
        {{ formUtils.getErrorMessage(registerForm, 'lastName') }}
      </span>
    </div>
  </div>

  <input type="email" placeholder="Email" formControlName="email" [ngClass]="{'input-error': isInputInvalid('email')}"/>
  <span class="invalid-input-message" *ngIf="isInputInvalid('email')">
    {{ formUtils.getErrorMessage(registerForm, 'email') }}
  </span>

  <div class="same-line-inputs-container">
    <div class="align-inputs-and-error-messages">
      <input type="text" mask="(00) 00000-0000" placeholder="(00) 0000-0000" formControlName="phoneNumber" [ngClass]="{'input-error': isInputInvalid('phoneNumber')}"/>
      <span class="invalid-input-message" *ngIf="isInputInvalid('phoneNumber')">
        {{ formUtils.getErrorMessage(registerForm, 'phoneNumber') }}
      </span>
    </div>
    <div class="align-inputs-and-error-messages">
      <input type="text" placeholder="CRM-0000" formControlName="crm" [ngClass]="{'input-error': isInputInvalid('crm')}" />
      <span class="invalid-input-message" *ngIf="isInputInvalid('crm')">
        {{ formUtils.getErrorMessage(registerForm, 'crm') }}
      </span>
    </div>
  </div>

  <div class="data-picker-container">
    <span>Data de nascimento</span>
    <input type="date" formControlName="birthDate" [ngClass]="{'input-error': isInputInvalid('birthDate')}"/>
    <span class="invalid-input-message" *ngIf="isInputInvalid('birthDate')">
    {{ formUtils.getErrorMessage(registerForm, 'birthDate') }}
    </span>
  </div>
  <div class="same-line-inputs-container">

    <div class="align-inputs-and-error-messages">
      <input type="text" placeholder="Nome de usuário" formControlName="login" [ngClass]="{'input-error': isInputInvalid('login')}"/>
      <span class="invalid-input-message" *ngIf="isInputInvalid('login')">
        {{ formUtils.getErrorMessage(registerForm, 'login') }}
      </span>
    </div>
    <div class="align-inputs-and-error-messages">
      <div class="input-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          placeholder="Senha"
          formControlName="password"
          [ngClass]="{'input-error': isInputInvalid('password')}"
        />
        <button class="input-icon top-[50%]" (click)="togglePasswordVisibility()">
          <img
            [src]="
              showPassword
                ? 'assets/images/svg/Symbol=view_password,Color=Green.svg'
                : 'assets/images/svg/Symbol=view_password,Color=Black.svg'
            "
            alt="View password"
          />
        </button>
      </div>
      <span class="invalid-input-message" *ngIf="isInputInvalid('password')">
        {{ formUtils.getErrorMessage(registerForm, 'password') }}
      </span>
    </div>
  </div>
</form>
