/* Estilos básicos para quando o sidebar está expandido */
.content {
  margin-left: 200px;  /* Ajuste esta margem para a largura do seu sidebar expandido */
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 20px;
  transition: margin-left 0.3s;
  min-height: 100%;
  width: auto;
  justify-content: center;
}


/* Estilos quando o sidebar está retraído */
.retracted {
  margin-left: 50px; /* Ajuste conforme a largura retraída do seu sidebar */
//   width: 87% !important;
}


/* Adaptações para dispositivos menores */
@media (max-width: 1024px) {
  .content {
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding: 0;
  }
}

// @media (min-width: 1400px){
//   .content{
//     width: 84% !important;
//   }
//   .retracted{
//     width: 92% !important;
//   }
// }


