<div class="container">
  <table>
    <thead>
    <tr style="border-radius: 10px !important;">
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Telefone</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of dataSource">
      <td>{{ user.name }}</td>
      <td>{{ user.birthDate | date:'dd/MM/yyyy' }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.email }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="list-container">
  <div class="users-mobile-container">
  <div *ngFor="let element of dataSource" class="users-list-mobile">
    <button class="list-card" (click)="printButton('card button')">
      <div class="user-detail">
        <span class="title-detail">ID</span>
        <span class="data-detail">{{element.id}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Nome</span>
        <span class="data-detail">{{element.name}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Data de Nascimento</span>
        <span class="data-detail">{{element.birthDate | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Telefone</span>
        <span class="data-detail">{{element.phoneNumber}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Email</span>
        <span class="data-detail">{{element.email}}</span>
      </div>

      <div class="user-actions">
        <button class="edit-btn" (click)="printButton('edit button')">
          <img src="assets/images/svg/edit.svg" alt="" srcset="" />
          <span> Editar </span>
        </button>
        <button class="delete-btn" (click)="printButton('delete button')">
          <img src="assets/images/svg/inventory-red.svg" alt="" srcset="" />
          Excluir
        </button>
      </div>
    </button>
  </div>
  </div>
</div>
