<div class="container">
  <table>
    <thead>
    <tr style="border-radius: 10px !important;">
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Telefone</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of dataSource" (click)="viewPatientsDetails(element.id)" >
      <td>{{ element.name }}</td>
      <td>{{ element.birthDate | date:'dd/MM/yyyy' }}</td>
      <td>{{ element.phoneNumber }}</td>
      <td>{{ element.email }}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          ⋮
        </button>
        <mat-menu #menu="matMenu">
          <div  class="floating-actions-menu">
            <button mat-menu-item (click)="editUser(element.id!)">Editar</button>
            <button mat-menu-item (click)="deleteUser(element.id!)">Excluir</button>
          </div>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="list-container">
  <div class="users-mobile-container">
  <div *ngFor="let element of dataSource" class="users-list-mobile">
    <button class="list-card" (click)="viewPatientsDetails(element.id)">
      <div class="user-detail">
        <span class="title-detail">ID</span>
        <span class="data-detail">{{element.id}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Nome</span>
        <span class="data-detail">{{element.name}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Data de Nascimento</span>
        <span class="data-detail">{{element.birthDate | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Telefone</span>
        <span class="data-detail">{{element.phoneNumber}}</span>
      </div>
      <div class="user-detail">
        <span class="title-detail">Email</span>
        <span class="data-detail">{{element.email}}</span>
      </div>

      <div class="user-actions">
        <button class="edit-btn" (click)="editUser(element.id!)">
          <img src="assets/images/svg/edit.svg" alt="" srcset="" />
          <span> Editar </span>
        </button>
        <button class="delete-btn" (click)="deleteUser(element.id!)">
          <img src="assets/images/svg/inventory-red.svg" alt="" srcset="" />
          Excluir
        </button>
      </div>
    </button>
  </div>
  </div>
</div>
