.patient-selector-container {
    font-size: 13px;
    padding: 0 40px;
}

.patient-selector {
    background: rgba(95, 65, 178, 0.301);
    border-radius: 5px;
    font-size: 13px;
    overflow-y: auto;
    max-height: 200px;
    margin: 15px 0;
}

.patients-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
}

.patient-selector-container h3 {
    color: #5F41B2;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
}

.checkbox-item {
    display: grid;
    grid-template-columns: auto 1fr 1fr; 
    gap: 10px;
    align-items: center;
    margin: 15px;
}

.title-and-message {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.title-and-message span {
    color: #ec3333;
}


@media (max-width: 685px) {

    .checkbox-item {
        grid-template-columns: auto 1fr; 
        grid-template-rows: auto auto; 
    }

    .login-label {
        grid-column: 2;
        grid-row: 2;
        margin-left: 1.75em;
    }


    .patients-header {
        flex-direction: column;
        align-items: flex-start; 
    }
    
}

@media (max-width: 897px) {
    .patients-header {
        flex-direction: column;
        align-items: stretch; 
    }

}