.patient-selector-container {
    font-size: 13px;
    padding: 0 40px;
}

.patient-selector {
    background: rgba(95, 65, 178, 0.301);
    border-left: 2px solid  #5F41B2;
    border-radius: 5px;
    font-size: 13px;
    overflow-y: auto;
    max-height: 200px;
    margin: 15px 0;
}

.patients-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
}

.header-label {
    color: #5F41B2;
    font-weight: lighter;
    
} 

.list-header {
    padding-left: 10px; 
    margin: 15px;
}
.patient-selector-container h3 {
    color: #5F41B2;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
}

.checkbox-item {
    display: flex;
    align-items: flex-start; 
    gap: 10px;
    margin: 15px;
}

.checkbox-item input[type="checkbox"] {
    flex-shrink: 0; 
}
.name-label {
    flex-grow: 1; 
    white-space: normal; 
    text-indent: -20px; 
    padding-left: 20px; 
   
}


.title-and-message {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.title-and-message span {
    color: #ec3333;
}


@media (max-width: 685px) {


    .patients-header {
        flex-direction: column;
        align-items: flex-start; 
    }
    
}

@media (max-width: 897px) {
    .patients-header {
        flex-direction: column;
        align-items: stretch; 
    }

}