.upload-container{
  background-color: rgba(95, 65, 178, 0.08);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin:20px;
  gap: 30px;
}

.upload-image-circle{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(182, 149, 254, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Garante que a imagem cubra todo o espaço */
  background-position: center; /* Centraliza a imagem no círculo */
}

.send-picture-button{
  border: 1px solid #5F41B2;
  background: transparent;
  color: #5F41B2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 10px;
  height: 40px;
  cursor: pointer;
}

.upload-icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: rgba(95,65,178,0.2);
  border-style: solid;
  border-width: 8px;
  object-fit: cover; /* garante que a imagem do perfil cubra o espaço designado */
}

.action-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px
}

.remove-button{
  font-size: 12px;
  color: #5F41B2;
  border: none;
  background: transparent;
  cursor: pointer;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: #5F41B2;
  border: 1px solid #5F41B2;
  border-radius: 5px;
  background: transparent;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-file-upload:hover {
  background-color: #5F41B2;
  color: white;
}

