@import 'src/styles.scss';

.dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1, p {
  margin: 0.3rem;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: medium;
}

.info-container span {
  color: #5F41B2;
}

.info {
  display: flex;
  flex-direction: column;

}

.welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #5F41B2;
  background: linear-gradient(to top right, $beta-purple 40%, $beta-purple-90, rgba(151, 92, 228, 0.9));
  color: white;
  padding: 20px;
  height: 180px;
  border-radius: 10px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.medical-info {
  display: flex;
  gap: 20px;
}

.info,
.charts,
.recent-exams {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
  width: 45%;
}

.recent-exams thead th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.recent-exams thead th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.recent-exams tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.recent-exams tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    text-align: left;
    padding: 8px;
    font-size: 14px;
  }
  th {
    background-color: #5F41B2;
    color: #fff;
    font-weight: 300;
    padding: 12px;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  .dashboard-content {
    grid-template-columns: 1fr; // Uma coluna por linha
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    padding: 20px;
  }
  .welcome-banner {
    padding: 15px;
  }
}


@media (max-width: 768px) {
  .info-container{
    flex-direction: column;
    justify-content: center !important;
    gap: 20px;
  }

  .info,
  .charts,
  .recent-exams {
    width: 100%;
  }
}
.info-container{
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-evenly;
}
