<button
  class="toggle-btn"
  *ngIf="isMobile && !isOpen"
  (click)="toggleSidebar()"
  style="color: #5f41b2"
>
  ☰
</button>
<div class="sidebar" [class.closed]="!isOpen">
  <img src="assets/images/svg/beta-plus.svg" alt="Beta+ Icon" class="beta-logo" *ngIf="isOpen" />
  <img
    src="assets/images/svg/beta-icon-purple.svg"
    alt="Beta+ Icon"
    class="beta-icon"
    *ngIf="!isOpen"
  />

  <div class="sidebar-items-container">
    <div
      class="menu-item-container"
      routerLinkActive="active-menu-item"
      #rla="routerLinkActive"
      [ngClass]="{'isClosed': !isOpen}"
    >
      <a class="anchor-img-fit" routerLink="/doctor-panel/pacient">
        <img
          class="sidebar-icon"
          [src]="
            rla.isActive
              ? 'assets/images/side-menu-icons/home.svg'
              : 'assets/images/side-menu-icons/home-gray.svg'
          "
          alt="Home icon"
          [ngClass]="{'sidebar-icon-closed': !isOpen}"
        />
      </a>
      <a *ngIf="isOpen" routerLink="/doctor-panel/pacient" routerLinkActive="active-menu-text"
        >Home</a
      >
    </div>

    <div
      class="menu-item-container"
      routerLinkActive="active-menu-item"
      #rla2="routerLinkActive"
      [ngClass]="{'isClosed': !isOpen}"
    >
      <a class="anchor-img-fit" routerLink="/doctor-panel/consultas">
        <img
          class="sidebar-icon"
          [src]="
            rla2.isActive
              ? 'assets/images/side-menu-icons/calendar.svg'
              : 'assets/images/side-menu-icons/calendar-gray.svg'
          "
          alt="Calendar icon"
          [ngClass]="{'sidebar-icon-closed': !isOpen}"
        />
      </a>
      <a *ngIf="isOpen" routerLink="/doctor-panel/consultas" routerLinkActive="active-menu-text"
        >Consultas</a
      >
    </div>
  </div>

  <button class="toggle-btn" (click)="toggleSidebar()" style="color: #5f41b2">☰</button>
</div>
