.container {
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    width: 99%;
    display: flex;
    justify-content: center;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid transparent;
  
    th,
    td {
      text-align: left;
      padding: 10px;
      color: #6c6c6c;
  
      button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 6px 10px;
        border-radius: 50%;
      }
    }
    th {
      background-color: rgba(95, 65, 178, 0.6);
      color: #fff;
      font-weight: 400;
      padding: 12px;
      border: none;
    }
  }
  tr:hover {
    border: 1px solid rgba(95, 65, 178, 0.6);
    cursor: pointer;
  }
  
  .list-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  
  .users-mobile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 7px;
    gap: 20px;
  }
  
  .users-list-mobile {
    display: flex;
    width: 100%;
    background-color: #ffffff;
  }
  
  .list-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
  
    .user-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .title-detail {
      color: #000000;
      font-size: 12px;
      font-weight: 500;
      line-height: 28px;
    }
  
    .data-detail {
      color: #6c6c6c;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  
    .user-actions {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
  
      img {
        width: 20px;
      }
  
      button {
        display: flex;
        width: 30%;
        border: 1px solid #19211a;
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
        gap: 1rem;
        cursor: pointer;
        align-items: center;
        background-color: #ffffff;
      }
  
      .delete-btn {
        color: #990000;
        border: 1px solid #990000 !important;
      }
  
      .download-btn {
        color: #5f41b2;
        border: 1px solid #5f41b2;
      }
  
      .edit-btn,
      .delete-btn,
      .download-btn {
        justify-content: center;
      }
  
      .edit-btn:hover {
        background-color: rgba(25, 33, 26, 0.1);
      }
      .delete-btn:hover {
        background-color: rgba(153, 0, 0, 0.1);
      }
      .download-btn:hover {
        background-color: #5f41b21e;
      }
    }
  }
  
  .list-card:hover {
    background-color: #5f41b214;
  }
  
  .floating-actions-menu {
    display: flex !important;
    flex-direction: column !important;
    gap: 5px;
  
    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
      font-family: Poppins, sans-serif;
    }
  
    button:hover {
      background-color: rgba(108, 108, 108, 0.19);
    }
  }
  
  td.td-edit {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    padding: 0; /* Remove qualquer padding extra */
  }
  