<div class="upload-container">
    <div class="icon-container"  (click)="downloadFile()">
        <i class="fa-solid fa-download"></i>
    </div>
    <label class="custom-file-upload" *ngIf="!isReadOnly">
        <input type="file" id="file-input" (change)="onFileSelected($event)" hidden accept=".pdf"/>
        Enviar arquivo
    </label>
    <!-- <button class="download-button">download</button> -->
    <span *ngIf="fileName">{{ fileName }}</span>
    <span *ngIf="errorMessage" class="error-message">{{ errorMessage }}</span>

</div>
