<div class="container">
    <table>
      <thead>
        <tr class="trhover">
          <th>Nome</th>
          <th>Tipo</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of dataSource">
          <td>{{ exam.name }}</td>
          <td>{{ exam.examType }}</td>
          <td>{{ exam.examDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="list-container">
    <div class="users-mobile-container">
      <div *ngFor="let exam of dataSource" class="users-list-mobile">
        <button class="list-card" (click)="printButton('card button')">
          <div class="user-detail">
            <span class="title-detail">Nome</span>
            <span class="data-detail">{{ exam.name }}</span>
          </div>
          <div class="user-detail">
            <span class="title-detail">Tipo</span>
            <span class="data-detail">{{ exam.examType }}</span>
          </div>
          <div class="user-detail">
            <span class="title-detail">Data</span>
            <span class="data-detail">{{ exam.examDate | date: 'dd/MM/yyyy' }}</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  