@import 'src/styles.scss';

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1, p {
  margin: 0.3rem;
}


.welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #5F41B2;
  background: linear-gradient(to top right, $beta-purple 40%, $beta-purple-90, rgba(151, 92, 228, 0.9));
  color: white;
  padding: 20px;
  height: 180px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .dashboard-content {
    grid-template-columns: 1fr; // Uma coluna por linha
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    padding: 20px;
  }
  .welcome-banner {
    padding: 15px;
  }
}
