 <div class="dashboard-container">
    <div class="welcome-banner">
      <h1>Olá, {{ doctorName }}!</h1> <!-- Tem que modificar para o nome do usuario logado -->
      <p>Fique à vontade para revisar seu protocolo e atualizar suas informações</p>
    </div>
  
    <div class="dashboard-content">
        <div class="info-container">
          <div class="info" style="width: 100%;">
            <span>Próxima consulta </span>
            <strong>{{ nextAppointment | date:'dd/MM/yyyy' }}</strong>   <!-- Tem que modificar para o nome do medico do usuario logado -->
          </div>
        </div>
  
      <div class="info-container">
        <div class="pacientes-container">
          <h2>Novos Pacientes</h2>
          <ul class="lista-pacientes">
              <li class="item-paciente">
                  <div class="icone-paciente">
                      <img src="../../../../../assets/images/svg/user-regular.svg" alt="Ícone do Usuário">
                  </div>
                  <div class="info-paciente">
                      <strong>Luíza Almeida</strong>
                      <span>luizaalmeida</span>
                  </div>
              </li>
              <li class="item-paciente">
                  <div class="icone-paciente">
                    <img src="../../../../../assets/images/svg/user-regular.svg" alt="Ícone do Usuário">
                  </div>
                  <div class="info-paciente">
                      <strong>Carla Medeiros</strong>
                      <span>carlamedeiros</span>
                  </div>
              </li>
              <li class="item-paciente">
                  <div class="icone-paciente">
                    <img src="../../../../../assets/images/svg/user-regular.svg" alt="Ícone do Usuário">                  </div>
                  <div class="info-paciente">
                      <strong>Luisa Almeida</strong>
                      <span>luisaalmeida</span>
                  </div>
              </li>
          </ul>
      </div>
  
        <div class="recent-exams">
          <h2>Últimos Protocolos</h2>
          <table>
            <!-- cabeçalho da tabela -->
            <thead>
              <tr class="table-header">
              <th>Nome</th>
              <th>Data</th>
            </tr>
            </thead>
            <!-- corpo da tabela -->
            <tbody>
              <tr *ngFor="let protocol of protocols">
                <td>{{ protocol.name }}</td>
                <td>{{ protocol.createdAt | date:'dd/MM/yyyy' }}</td>
              </tr>
            <!-- outros exames -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  