
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4px;
    margin-bottom: 20px;
  }
  
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
  }
  
  .submit-button{
    background-color: #5F41B2;
    color: #FFFFFF;
    padding: 10px 20px;
    width: 100px;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
    cursor: pointer;
  }
  