<div id="exams">
    <div id="menu">
      <app-input-search
        [items]="searchOptions"
        [submitSearchFunction]="submitSearch.bind(this)"
        [cleanSearchFunction]="cleanSearch.bind(this)"
      ></app-input-search>
      <button class="upload" mat-button (click)="openUpload()">+ Novo Exame</button>
    </div>
    <div class="paginators-container">
      <app-custom-select
        style="width: 100px"
        [paginator]="true"
        ngClass="custom-select"
        [isActiveIcon]="true"
        [items]="pageNumber"
        (defaultItemSelectedChange)="handleSelectedPage($event)"
        [defaultItemSelected]="selectedPage"
      />
  
      <app-custom-select
        style="width: 140px; margin-right: 20px"
        [paginator]="true"
        ngClass="custom-select"
        [isActiveIcon]="true"
        [items]="paginatorItems"
        (defaultItemSelectedChange)="handleSelectedItem($event)"
        [defaultItemSelected]="selectedPaginator"
      />
    </div>
    <div id="tabela">
      <app-exams-table></app-exams-table>
    </div>
  </div>
  