/* Incorporando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }

$beta-purple: #5F41B2;
