*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .same-line-inputs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .register-form input, textarea, .input-container {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;
  }

  #isSpecific {
    border-bottom: none;
    width: 0 !important;
    margin: 0;
    padding: 0;
    height: 0;
  }

  span {
    color: rgba(0, 0, 0, 0.6);
  }
  

  textarea {
    height: 8rem;
  }

  .register-form input:focus, textarea:focus{
    border-bottom: 1px solid #5F41B2;
  }
  
  
  .register-form{
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  
  .title{
    font-size: 30px;
  }
  
  input[type="date"] {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
  
  
  .input-check {
    display: flex;
    align-items: center; 
    justify-content: baseline;
    font-size: 13px;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
  }
  
  .input-check label {
    color: rgba(0, 0, 0, 0.6); 
  }
  
  .input-check input[type="checkbox"] {
    max-width: 15px; 
    max-height: 15px; 
  }


  .input-icon {
    position: absolute;
    background: transparent;
    right: 0;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
  }
  
  .submit-button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 30px;
    justify-self: flex-end;
    margin-bottom: 30px;
  }
  
  .input-error {
    border: 1px solid #ec3333 !important;
    border-radius: 4px;
  }
  
  .invalid-input-message {
    font-size: 0.75rem;
    color: #ec3333 !important;
  }
  
  .align-inputs-and-error-messages {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  
  .align-inputs-and-error-messages input{
    width: 100% !important;
  }

  @media (max-width: 768px) {
    .same-line-inputs-container{
      flex-direction: column;
    }
    .same-line-inputs-container input{
      width: 100% !important;
    }
  
    .align-inputs-and-error-messages{
      width: 100% !important;
    }
  }