<form class="register-form" #formRef="ngForm" [formGroup]="protocolForm">
    <div class="same-line-inputs-container">
        <div class="align-inputs-and-error-messages" [style.width]="isReadOnly ? '100%' : null">
            <label for="name" *ngIf="isReadOnly">Nome: </label>
            <input id="name" type="text" placeholder="Nome do protocolo" formControlName="name" 
            [ngClass]="{'input-error': isInputInvalid('name')}"/>
            <span class="invalid-input-message" *ngIf="isInputInvalid('name')">
                {{ formUtils.getErrorMessage(protocolForm, 'name') }}
            </span>
        </div>

        <div class="align-inputs-and-error-messages" *ngIf="!isReadOnly">
            <div class="checkbox-wrapper-1">
                <div class="input-check">
                    <input type="checkbox" id="isSpecific" formControlName="isSpecific" class="substituted" aria-hidden="true"/>
                    <label for="isSpecific">Este protocolo é específico?</label>
                </div>
            </div>
        </div>
    </div>

    <div class="align-inputs-and-error-messages" style="width: 100%">
        <label for="description" *ngIf="isReadOnly">Descrição: </label>
        <textarea id="description" placeholder="Descrição" formControlName="description" 
        [ngClass]="{'input-error': isInputInvalid('description'), 'read-only-border': isReadOnly}"></textarea>
        <span class="invalid-input-message" *ngIf="isInputInvalid('description')">
          {{ formUtils.getErrorMessage(protocolForm, 'description') }}
        </span>
    </div>

    
</form>
  